.about {
  box-shadow: 0 0 20px 20px $fc-black;
  background: $fc-white;
  position: relative;
  }

  .section-container{
    position: inherit;
  }

  .about-body{
    padding: 5em 0;
    position: relative;

    .about-me{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    
    .sexy-pic{
      height: 300px;
      box-shadow: -7px 9px 6px 0px $fc-dark-gray;
      border-radius: 5px;
    }

    

      .about-intro{
        span{
          color: $fc-white;
          background: $fc-dark-gray;
          padding: 0 5px;
          border-radius: 5px;
        }
        font-size: 2em;
        font-weight: 600;
        display: block;
        color: $fc-black;
        text-shadow: 1px 1px $fc-light-gray;
        text-align: center;
        padding: 1em;
      }

      .me{
        padding: 5 0 20 0;
        font-size: .65em;
        color: $fc-dark-gray;
        position: relative;

        span{
          position: absolute;
          bottom: -10px;
          left: 90px;
        }
      }

      .description-container{
        padding: 20px;

        .me-description{
          font-weight: 600;
          letter-spacing: 1.5px;
          font-size: 1.25em;
          line-height: 1.5;
          color: $fc-black;
      }
    }
  }
}

  

  @media only screen and (max-width: 1500px) {
    .about{
      .about-body{
        .about-intro{
          text-align: center;
          margin: .25em 0;
        }
        .about-me{
          .me-description{
            margin-left: 15%;
          }
         
        }
      }
    }
  }


  @media only screen and (max-width: 520px) {
      .about .about-body{
        width: 100%;
          .description-container {
            width: 100%;
            margin: 3em 0;
            border-radius: 10px;
            padding: 0%;
            .about-intro{
              font-size: 1.25em;
              padding: 10%;
              color: $fc-black;
              text-shadow: none;

              span{
                text-shadow: none;
              }
            }

            .me-description{
              margin-bottom: 5em;
              margin-left: 0em;
              padding: 10px;
            }
          }
        }
      }
    