.contact{
  margin: 10em auto;
  text-align: center;

  .contact-head{
    padding: 1% 0;
    font-size: 2em;
  }

  h2{
    color: $fc-white;
    font-weight: 600;
    margin-bottom: 3%;
    font-size: 2em;
    background: #283142;
    border-radius: 5px;
  }

  p{
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #a0a0a0;
  }

  .contact-body{
  font-size: 1.5em;

  input, textarea{
    width: 50%;
    border-radius: 5px;
    border: 2px solid #283142;
    height: 5%;
    text-align: center;
    font-size: 1.5em;
    color: #323135;
    margin-bottom: 2%;
  }
  }
}

@media only screen and(max-width: 850px){
  .contact .contact-head{
    font-size: 1.25em;
  }
  
  form{
    margin: 1em 0;
  }
  .contact .contact-body input, .contact .contact-body textarea{
  width: 100%;
  font-size: 1em;
  }
}