.contact{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  .contact-head{
    padding: 5% 0 3% 0;
    font-size: 2em;
  }

  h2{
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    color: #70c5e6;
    text-shadow: 2px 2px #040809;
  }

  p{
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #a0a0a0;
  }

  .contact-body{
  font-size: 1.5em;

  input, textarea{
    width: 50%;
    border-radius: 5px;
    border: 2px solid #4d83a0;
    height: 5%;
    text-align: center;
    font-size: 1.5em;
    color: #323135;
    margin-bottom: 2%;
  }
  }
}