.hidecc{
  height: 30vh;
}

#what{
  color: white;
  margin-bottom: 3em;
  margin-left: 3em;
  cursor: pointer;
  width: 20px;
  height: 50px;
  }

.crabby-cat{
  transition: 7s ease-in-out;
  height: 30vh;
  background: url(/images/crabbycat.jpg)center center no-repeat;
  background-size: cover;
  background-position-y: bottom;
}