.logo{
  background: url(/images/logo.png) no-repeat;
  background-size: contain;
  height: 32px;
  width: 51px;
  position: absolute;
  top: 14px;
}

.nav{
  background: #e5e2eb;
  box-shadow: inset -4px -6px 20px 2px #faf5fb;
  padding: 20px;
  letter-spacing: 2px;
  display: flex;

  .social-nav{
    display: none;
  }
}
  
  .nav-item{
    margin-left: 20%;
    color: $fc-black;
    text-decoration: none;
    font-weight: 600;
    transition: .5s ease-in-out;

    &:hover{
    box-shadow: 1px 1px 6px 5px $fc-black;
    }
  
  }

.social{
  display: flex;
  flex-flow: column;
  position: fixed;
  z-index: 7;
  top: 42%;
  left: 2%;

  .social-item{
    font-size: 3em;
    padding-bottom: 15px;

    .fa-linkedin{
      color:#0077B5;
    }
    
    .fa-github-square{
      color:#333;
    }

    .fa-instagram{
      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
      -webkit-background-clip: text;
       background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 600;
    }

    .fa-envelope{
      color: 	#ea4335;
    }
  }
}

  .landing-image{
    height: 120%;
  }


.landing-body{
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 20px;
  text-align: center;
  
  .name{
    transition: 2s;
    font-size: 5em;
    letter-spacing: 5px;
    color: #f2edf4;
    text-shadow: 5px 5px 20px #000000;
}

  .web{
    transition: 2s;
    margin-top: 2%;
    font-size: 3em;
    letter-spacing: 5px;
    color: #5c5e5b;
    text-shadow: 4px 4px #0f0f11;
      }
    }

    @media only screen and (max-width: 1200px) {
      .nav{
        position: fixed;
        width: 100%;
        z-index: 7;
        background: white;
      }
      .landing-body {
      .name{
        font-size: 3.5em;
        color: white;
      }
    
      .web{
        font-size: 2em;
        color: #a5a5a5;
        text-shadow: 2px 2px 10px $fc-black;
          }
        }
      }

    
@media only screen and (max-width: 1000px) {
  .logo{
    position: unset;
  }

  .nav {
    flex-flow: column wrap;
    color: $fc-black;
    text-shadow: none;

    a {
      color: $fc-black;
    }
    .nav-item {
      margin:0 1em;
     justify-content: left;
     display: none;
     color: black;
    }

    .social-nav{
      position: absolute;
      right: 5%;
      top: 25%;
      display: flex;
      flex-flow: column;

      .social-item{
        margin-bottom: 1em;
        font-size: 2em;
      }
    }
  }
  
  .social{
    display: none;
  }

     .nav-collapse {
      display: flex;
      line-height: 4;
      background: white;
      color: $fc-black;
      text-decoration: none;
      width: 50%;
      padding-left: 24px;
      transition: .5s all;
      flex: 1 1 auto;
      position: relative;
      
      &.nav-collapse:before{
        content: "";
        position: absolute;
        width: 8rem;
        height: 2px;
        top: 2.5em;
        background-color: $fc-black;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out 0s;
      }
      
      &.nav-collapse:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
      }
    }
  }

    @media only screen and (max-width: 520px) {
      .landing-body {
      .name{
        font-size: 2.5em;
        color: white;
      }
    
      .web{
        font-size: 1em;
        color: #a5a5a5;
        text-shadow: 2px 2px 10px $fc-black;
          }
        }
      }

      