.projects{
  margin-top: -350px;
  z-index: -2;
  padding: 50vh 0;
  background: linear-gradient(#01abff, white);
  background-size: cover;

  .projects-body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5% 10%;
    grid-row-gap: 2em;

    .project-border{
    border-radius: 5px 0 0 5px;

    .project-image{
      height: 100%;
      width: 100%;
    }
    }

    #p1{
      background: url("/images/dls-thumb.jpg")center center no-repeat;
      background-size: cover;
    }

    #p2{
      background: url("/images/bnb-thumb.jpg")center center no-repeat;
      background-size: cover;
    }
    
    #p3{
      background: url("/images/os-thumb.jpg")center center no-repeat;
      background-size: cover;
    }

    .project{
      padding: 5%;
    background: white;
    height: 400px;
    min-width: 300px;
    position: relative;
    }

      .project-description{
        position: relative;
        letter-spacing: 1px;
        font-weight: 500;
        letter-spacing: 1px;
        line-height: 1.5;
        color: #272727;
        padding: 1em;
        background: #fff;
        border-radius: 0 5px 5px 0;

        .project-title{
          text-align: center;
          font-size: 2em;
          font-weight: 600;
          color: #70c5e6;
          text-shadow: 2px 2px #040809;
        }

        .project-paragraph{
          margin-top: 1em;
        }
      }

      .project-buttons {
        text-align: center;

          button{
          border: none;
          padding: 10px;
          border-radius: 5px;
          background: #ff7381;
          text-align: center;
          margin: 10px;

          a{
            text-decoration: none;
            font-weight: 600;
            color: white;
            letter-spacing: 1px;
          }
        }
      }
    }
  }