.tools{
  margin-top: -350px;
  z-index: -2;
  padding: 50vh 0;
  background: #00abff;
  background-size: cover;

  .section-container{
    background: linear-gradient(#01abff, #01abff, #ea12fb);
    margin-top: -50vh;
    position: relative;
    border-radius: 50px;
    box-shadow: 17px 17px white;
    padding: 3%;

    .columns{
        display: flex;
      }
      .column{
        text-align: center;
      }
    }

    .previous-employers{
      text-align: center;
      padding: 5% 0;
      font-size: 3em;
      text-decoration: underline;
      text-shadow: 3px 3px #e527e7;
      font-weight: 600;
      color: #ffffff;
    }
  }

  .experience{
    margin-left: auto;
    text-align: center;
    margin-right: auto;
    letter-spacing: 2em;

    img{
      height: 200px;
  }
}

  .languages{
    margin-left: auto;
    margin-right: auto;

    .languages-head{
      margin: 3% 0;
      text-align: center;
      font-size: 3em;
      text-decoration: underline;
      text-shadow: 3px 3px #e527e7;
      font-weight: 600;
      color: #ffffff;
    }
  }

  .current-languages{
    font-size: 50px;
    color: #ffffff;
    text-align: center;
    letter-spacing: 1em;
    text-shadow: 3px 2px 2px #f31fe5;

    img{
      height: 45px;
      margin-bottom: -4;
      margin-right: 1em;
    }
  }  

 .currently-studying{ 
      display: flex;
    justify-content: center;
    align-items: center;
  img{
    height: 50px;
   }
  }