@import url('https://fonts.googleapis.com/css?family=Roboto:500');

//fonts
$ff-body: 'Roboto', sans-serif;

//colors
$fc-white: #EBECED;
$fc-light-gray: #676765;
$fc-med-gray: #494D4C;
$fc-dark-gray: #2B2F32;
$fc-black: #101211;

.bg-main{
  background: url(/images/back2.jpg)center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.title{
  text-align: center;
  font-size: 2em;
  font-weight: 600;
  position: relative;
  color: $fc-white;
  background: $fc-med-gray;
  border-radius: 5px;
  padding: .5% 0;
}

.sub-title{
  font-size: 1.5em;
  padding: 10px;
  font-weight: 600;
}

i{
  font-size: 35px;
  color: fc-dark-gray;
  margin-top: 20px;
}

.card{
  background: $fc-white;
  box-shadow: 0px 20px 6px 0px $fc-black;
  text-align: center;
  padding: 2%;
  color: fc-dark-gray;
  font-weight: 500;
  line-height: 1.5;
  border-radius: 5px;
  .title{
    font-size: 2em;
    padding: 3% 0 0 0;
    margin: 20px 0;
  }
}