@import url('https://fonts.googleapis.com/css?family=Roboto:500');

//fonts
$ff-body: 'Roboto', sans-serif;

//colors
$fc-blue: #39709c;
$fc-gublu: #263042;
$fc-black: #121936;
$fc-white: #E7e7e7;

.bg-main{
  background: url(/images/back2.jpg)center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.title{
  margin: 3% 0;
  text-align: center;
  font-size: 3em;
  text-shadow: 3px 3px #000000;
  font-weight: 600;
  color: #39709c;
}

.language{
  height: 25px;
  font-size: 25px;
  color: #39709c;
  text-align: center;
}