@import url('https://fonts.googleapis.com/css?family=Roboto:500');

//fonts
$ff-body: 'Roboto', sans-serif;

//colors
$fc-white: #ebebe9;
$fc-lightBlue: #00d7fe;
$fc-blue: #077ec4;
$fc-orange:#cf653c;
$fc-gray: #353a48;
$fc-black: #353a48;

.title{
  text-align: center;
  font-size: 2em;
  font-weight: 600;
  position: relative;
  color: $fc-gray;
  border-radius: 5px;
  padding: .5% 0;
  text-decoration: underline;
}

.sub-title{
  font-size: 1.5em;
  padding: 10px;
  font-weight: 600;
}

i{
  font-size: 35px;
  color: fc-blue;
  margin-top: 20px;
}

.card{
  text-align: center;
  padding: 2%;
  color: $fc-orange;
  font-weight: 500;
  line-height: 1.5;
  .title{
    font-size: 1.52em;
    padding: 3% 0 0 0;
    margin: 20px 0;
  }
}